<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
                <binding name="Service1Soap1" />
                <binding name="Service1Soap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7446/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="referenciaWeb.Service1Soap"
                name="Service1Soap" />
            <endpoint address="http://localhost:7446/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap1" contract="ServiceReference1.Service1Soap"
                name="Service1Soap1" />
            <endpoint address="http://localhost:7446/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap2" contract="ServiceReference2.Service1Soap"
                name="Service1Soap2" />
        </client>
    </system.serviceModel>
</configuration>